# Render umumiy sozlamalar
PORT=3000
PUBLIC_URL=https://gift-yik1.onrender.com
WEBAPP_URL=https://gift-yik1.onrender.com
MONGODB_URI=mongodb+srv://abu2:abu2@abu2.nncoxe5.mongodb.net/gift?retryWrites=true&w=majority&appName=abu2

# Umumiy admin sozlamalar
ADMIN_TELEGRAM_CHAT_ID=6606638731
ADMIN_TELEGRAM_IDS=6606638731
ADMIN_PASSWORD=strong-password
APP_SECRET=change-this-secret
AUTO_SET_WEBHOOK=true
TELEGRAM_POLLING=false
CORS_ORIGIN=*

# GiftGo bot
GIFTGO_BOT_TOKEN=8860624440:AAEVLpAxRU7cMGwISd5dNok4fNRAEZ4krD4
GIFTGO_BOT_EXPECTED_USERNAME=SovgaGobot
GIFTGO_ADMIN_PASSWORD=ad123
GIFTGO_ADMIN_TELEGRAM_IDS=6606638731

# Course bot
COURSE_BOT_TOKEN=8898717993:AAHlKt9lUxDjMYNQpTQlgXjwcjhXUdOQdz8
COURSE_BOT_EXPECTED_USERNAME=KurslarGoBot
COURSE_ADMIN_PASSWORD=ad123
COURSE_ADMIN_TELEGRAM_IDS=6606638731

# Social Garant Market bot
SOCIAL_BOT_TOKEN=8063296739:AAFk2S74IAxwoYlgVAcmNI4uMyJk-QhXv9o
SOCIAL_BOT_EXPECTED_USERNAME=AkkountSavdoBot
SOCIAL_ADMIN_PASSWORD=ad123
SOCIAL_ADMIN_TELEGRAM_IDS=6606638731
SOCIAL_ADMIN_TELEGRAM_USERNAME=Qoryogdiyev
SOCIAL_ADMIN_TELEGRAM_URL=https://t.me/Qoryogdiyev
SOCIAL_BRAND_NAME=Garant Market
SOCIAL_BRAND_SUBTITLE=Ijtimoiy tarmoq hisoblari savdosi va garant bitimlar
SOCIAL_DEFAULT_CURRENCY=UZS

# Optional Cloudinary — rasmlar/screenshotlar uchun
CLOUDINARY_CLOUD_NAME=dpdldyjpq
CLOUDINARY_API_KEY=475948499473811
CLOUDINARY_API_SECRET=1ER3q8u1UP5jOIDIYrUUXj_f7Yw
UPLOAD_MAX_MB=6
# Social savdo kanal/guruh va to‘lov linklari
SOCIAL_GROUP_CHAT_URL=https://t.me/youtube_savdolarr
SOCIAL_CHANNEL_URL=https://t.me/akkaunt_savdoolar
SOCIAL_CHANNEL_CHAT_ID=@akkaunt_savdoolar
SOCIAL_PAYMENT_PAYNET_URL=https://app.paynet.uz/qr-online/00020101021140440012qr-online.uz01186r0vBrkobM1uBpXqv40202115204531153038605802UZ5910AO'PAYNET'6008Tashkent610610002164280002uz0106PAYNET0208Toshkent80520012qr-online.uz03097120207070419marketing@paynet.uz63042E24
SOCIAL_PAYMENT_CLICK_URL=https://my.click.uz/clickp2p/64FF6DA1B8F00B46B2936F561CCF73B01A05A23D2130A2B7F7A9E217A12F0BBD
SOCIAL_PAYMENT_UZUM_URL=https://b.2u.uz/ttc?qr=Nzk5MzoyMDQzNTUwMzowMUtTUE1XM0gwSE03RTFUNzRDTU5XRkZLNzpkMUhZYmhKWDZ3UGVQYVkxcW9mU3pVTmRHcVU9
SOCIAL_PAYMENT_XAZNA_URL=https://pay.xazna.uz/p2p/e07e655f-886e-4942-b325-846d8a0c2ce9
